@charset "UTF-8";
header {
  background-color: #579c87;
  height: 80px;
}

h1 {
  color: #fdcb46;
  text-align: center;
  padding-top: 2%;
}

footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  color: #fdcb46;
  font-size: 30px;
  position: fixed;
  width: 97%;
  bottom: 0;
}
footer .mentions:hover {
  animation: headshake 500ms infinite;
}
@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
footer .contact:hover {
  animation: headshake 500ms infinite;
}
@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

aside {
  background-color: #579c87;
  color: #fdcb46;
  text-align: Center;
  height: 30px;
  width: 25%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 15px;
  text-transform: uppercase;
}
aside .pts-animation {
  font-size: 30px;
  padding-bottom: 10%;
}
aside:hover .pts-animation {
  animation: pts 2000ms backwards infinite;
}

.flexbox {
  padding-left: 20%;
  display: flex;
}
.flexbox a {
  text-decoration: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 50px #f1f1f1;
  height: 400px;
  width: 300px;
  margin-left: 100px;
  transform: scale(1);
  transition: transform 400ms;
}
section:hover {
  transform: scale(1.15);
}
section h3 {
  text-align: center;
  box-shadow: #fdcb46;
}
section h2 {
  text-align: center;
}

.bloc1 {
  background-color: #fcdfdb;
}
.bloc1 .fas {
  padding-top: 30%;
  font-size: 40px;
  margin-top: 50px;
  padding-left: 42%;
  color: #8d6464;
}
.bloc1 a {
  text-decoration: none;
  color: black;
}
.bloc1:hover {
  background-color: #facac3;
}

.bloc2 {
  background-color: #fff5fe;
}
.bloc2:hover {
  background-color: #ffdcfb;
}
.bloc2 a {
  background: -webkit-linear-gradient(45deg, #d8712e, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc2 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(45deg, #d8712e, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc3 {
  background-color: #f9f9f9;
}
.bloc3:hover {
  background-color: #ececec;
}
.bloc3 a {
  background: -webkit-linear-gradient(360deg, #2140df, #2B91F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc3 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(360deg, #2140df, #2B91F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc4 {
  background-color: #fdfffd;
}
.bloc4:hover {
  background-color: #e4ffe4;
}
.bloc4 a {
  background: -webkit-linear-gradient(40deg, #42973c, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc4 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(40deg, #42973c, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact a {
  color: #fdcb46;
  text-decoration: none;
}

@keyframes pts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carte_note_enchantee {
  background-color: #fcdfdb;
  margin-left: 30%;
  width: 550px;
  height: 900px;
}
.carte_note_enchantee:hover {
  transform: scale(1);
}
.carte_note_enchantee .fas {
  padding-top: 5%;
  font-size: 40px;
  padding-left: 45%;
  color: #8d6464;
}
.carte_note_enchantee h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_note_enchantee h4::before {
  content: "";
  text-decoration: line-through;
}

.carte_chic_a_la_francaise {
  background-color: white;
  margin-left: 30%;
  width: 550px;
  height: 700px;
}
.carte_chic_a_la_francaise:hover {
  transform: scale(1);
}
.carte_chic_a_la_francaise h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_chic_a_la_francaise h4::before {
  content: "";
  text-decoration: line-through;
}

body {
  padding-bottom: 100px;
}

.fas {
  background: -webkit-linear-gradient(30deg, #F05561, #F6916A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 426px) {
  article {
    padding-left: 0%;
  }

  section {
    padding-left: 35%;
  }
}
.entree {
  padding-left: 20px;
}

.titre_entrée {
  color: #C67412;
}

.entree2 {
  padding-left: 20px;
  color: #C67412;
}

.prix {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

.plat {
  padding-left: 20px;
}

.titre_plat {
  color: #A56799;
}

.plat2 {
  padding-left: 20px;
  color: #A56799;
}

.titre_dessert {
  color: #6E4CCC;
}

.dessert2 {
  padding-left: 20px;
  color: #6E4CCC;
}

.dessert {
  padding-left: 20px;
}

.fin_de_carte {
  text-align: left;
}

.titre_carte {
  background: -webkit-linear-gradient(45deg, #d8712e, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.carte_note_enchantee {
  background-color: #fcdfdb;
  margin-left: 30%;
  width: 550px;
  height: 900px;
}
.carte_note_enchantee:hover {
  transform: scale(1);
}
.carte_note_enchantee h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_note_enchantee h4::before {
  content: "";
  text-decoration: line-through;
}

.carte_le_delice_des_papilles {
  background-color: #EDEFEF;
  margin-left: 30%;
  width: 550px;
  height: 900px;
}
.carte_le_delice_des_papilles:hover {
  transform: scale(1);
}
.carte_le_delice_des_papilles h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_le_delice_des_papilles h4::before {
  content: "";
  text-decoration: line-through;
}

.titre_carte2 {
  background: -webkit-linear-gradient(360deg, #2140df, #2B91F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.entree3 {
  padding-left: 20px;
}

.plat3 {
  padding-left: 20px;
}

.dessert3 {
  padding-left: 20px;
}

.carte_la_palette_du_gout {
  background-color: #FDFFFD;
  margin-left: 30%;
  width: 550px;
  height: 700px;
}
.carte_la_palette_du_gout:hover {
  transform: scale(1);
}
.carte_la_palette_du_gout h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_la_palette_du_gout h4::before {
  content: "";
  text-decoration: line-through;
}

.titre_carte3 {
  background: -webkit-linear-gradient(40deg, #42973c, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.entree3 {
  padding-left: 20px;
}

.plat3 {
  padding-left: 20px;
}

.dessert3 {
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
