@charset "UTF-8";
header {
  background-color: #579c87;
  height: 80px;
}

h1 {
  color: #fdcb46;
  text-align: center;
  padding-top: 2%;
  margin-top: 0px;
}

footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  color: #fdcb46;
  font-size: 30px;
  position: fixed;
  width: 97%;
  bottom: 0;
}
footer .mentions {
  padding-left: 0px;
}
footer .mentions:hover {
  animation: headshake 500ms infinite;
}
@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
footer .contact:hover {
  animation: headshake 500ms infinite;
}
@keyframes headshake {
  25% {
    transform: translateX(5%);
  }
  75% {
    transform: translateX(-5%);
  }
}
footer a {
  text-decoration: none;
  color: #fdcb46;
}

aside {
  background-color: #579c87;
  color: #fdcb46;
  height: 30px;
  width: 35%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: flex;
}
aside .pts-animation {
  display: flex;
  justify-content: right;
  padding-top: 15px;
  padding-left: 20px;
}
aside .pts-animation-1 {
  background-color: #fdcb46;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: points 1s backwards infinite;
  animation-delay: 0s;
  animation-direction: alternate;
}
aside .pts-animation-2 {
  background-color: #fdcb46;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: points 1s backwards infinite;
  animation-delay: 0.1s;
  animation-direction: alternate;
}
aside .pts-animation-3 {
  background-color: #fdcb46;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  animation: points 1s backwards infinite;
  animation-delay: 0.2s;
  animation-direction: alternate;
}

.flexbox {
  padding-left: 20%;
  display: flex;
}
.flexbox a {
  text-decoration: none;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 50px #f1f1f1;
  height: 400px;
  width: 300px;
  margin-left: 100px;
  transform: scale(1);
  transition: transform 400ms;
}
section:hover {
  transform: scale(1.15);
}
section h3 {
  text-align: center;
  box-shadow: #fdcb46;
}
section h2 {
  text-align: center;
}

.bloc1 {
  background-color: #fcdfdb;
}
.bloc1 .fas {
  padding-top: 30%;
  font-size: 40px;
  margin-top: 50px;
  padding-left: 42%;
  color: #8d6464;
}
.bloc1 a {
  text-decoration: none;
  color: black;
}
.bloc1:hover {
  background-color: #facac3;
}

.bloc2 {
  background-color: #fff5fe;
}
.bloc2:hover {
  background-color: #ffdcfb;
}
.bloc2 a {
  background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc2 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc3 {
  background-color: #f9f9f9;
}
.bloc3:hover {
  background-color: #ececec;
}
.bloc3 a {
  background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc3 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bloc4 {
  background-color: #fdfffd;
}
.bloc4:hover {
  background-color: #e4ffe4;
}
.bloc4 a {
  background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloc4 h3 {
  padding-top: 50%;
  background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact a {
  color: #fdcb46;
  text-decoration: none;
}

@keyframes points {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-18px);
  }
}
.carte_chic_a_la_francaise {
  background-color: white;
  margin-left: 30%;
  width: 550px;
  height: 700px;
}
.carte_chic_a_la_francaise:hover {
  transform: scale(1);
}

body {
  padding-bottom: 100px;
  margin: 0px;
}

.fas {
  background: -webkit-linear-gradient(30deg, #f05561, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.entree {
  padding-left: 20px;
  padding-bottom: 10px;
}
.entree h4 {
  text-align: center;
  padding-top: 10px;
}
.entree h4::before, .entree h4::after {
  border: 2px solid black;
  content: "";
  width: 12rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.titre_entrée {
  color: #c67412;
}

.entree2 {
  padding-left: 20px;
  color: #c67412;
  padding-bottom: 10px;
}
.entree2 h4 {
  text-align: center;
  padding-top: 10px;
}
.entree2 h4::before, .entree2 h4::after {
  border: 2px solid #c67412;
  content: "";
  width: 8.3rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.plat {
  padding-left: 20px;
  padding-bottom: 10px;
}
.plat h4 {
  text-align: center;
  padding-top: 10px;
}
.plat h4::before, .plat h4::after {
  border: 2px solid black;
  content: "";
  width: 10.7rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.titre_plat {
  color: #a56799;
}

.plat2 {
  padding-left: 20px;
  color: #a56799;
  padding-bottom: 10px;
}
.plat2 h4 {
  text-align: center;
  padding-top: 10px;
}
.plat2 h4::before, .plat2 h4::after {
  border: 2px solid #a56799;
  content: "";
  width: 9.8rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.titre_dessert {
  color: #6e4ccc;
}

.dessert2 {
  padding-left: 20px;
  color: #6e4ccc;
}
.dessert2 h4 {
  text-align: center;
  padding-top: 10px;
}
.dessert2 h4::before, .dessert2 h4::after {
  border: 2px solid #6e4ccc;
  content: "";
  width: 9rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dessert {
  padding-left: 20px;
}
.dessert h4 {
  text-align: center;
  padding-top: 10px;
}
.dessert h4::before, .dessert h4::after {
  border: 2px solid black;
  content: "";
  width: 9.9rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.fin_de_carte {
  text-align: left;
  padding-right: 25%;
}

.titre_carte {
  background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.carte_note_enchantee {
  background-color: #fcdfdb;
  margin-left: 25%;
  width: 550px;
  height: 900px;
}
.carte_note_enchantee .fas {
  padding-top: 5%;
  font-size: 40px;
  padding-left: 45%;
  color: #8d6464;
}
.carte_note_enchantee:hover {
  transform: scale(1);
}

.carte_le_delice_des_papilles {
  background-color: #edefef;
  margin-left: 30%;
  width: 550px;
  height: 700px;
}
.carte_le_delice_des_papilles:hover {
  transform: scale(1);
}
.carte_le_delice_des_papilles h4 {
  text-align: center;
  padding-top: 10px;
}
.carte_le_delice_des_papilles h4::before, .carte_le_delice_des_papilles h4::after {
  border: 2px solid #2140df;
  content: "";
  width: 9rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.titre_carte2 {
  background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-top: 60px;
}

.dessert3 {
  padding-left: 20px;
}
.dessert3 h4 {
  text-align: center;
  padding-top: 10px;
}
.dessert3 h4::before, .dessert3 h4::after {
  border: 2px solid #229df9;
  content: "";
  width: 10.1rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.carte_la_palette_du_gout {
  background-color: #fdfffd;
  margin-left: 30%;
  width: 550px;
  height: 700px;
}
.carte_la_palette_du_gout:hover {
  transform: scale(1);
}

.titre_carte3 {
  background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.entree3 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.entree3 h4 {
  text-align: center;
  padding-top: 10px;
}
.entree3 h4::before, .entree3 h4::after {
  border: 2px solid #0228dd;
  content: "";
  width: 9.5rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.plat3 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.plat3 h4 {
  text-align: center;
  padding-top: 10px;
}
.plat3 h4::before, .plat3 h4::after {
  border: 2px solid #0670f3;
  content: "";
  width: 10rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.entree4 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.entree4 h4 {
  text-align: center;
  padding-top: 10px;
}
.entree4 h4::before, .entree4 h4::after {
  border: 2px solid #45993e;
  content: "";
  width: 12rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.plat4 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.plat4 h4 {
  text-align: center;
  padding-top: 10px;
}
.plat4 h4::before, .plat4 h4::after {
  border: 2px solid #45993e;
  content: "";
  width: 10rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.dessert4 {
  padding-left: 20px;
}
.dessert4 h4 {
  text-align: center;
  padding-top: 10px;
}
.dessert4 h4::before, .dessert4 h4::after {
  border: 2px solid #45993e;
  content: "";
  width: 9.6rem;
  display: inline-block;
  margin-right: 1rem;
  margin-left: 1rem;
}

.price {
  font-weight: bold;
  float: right;
  padding-right: 30px;
  padding-left: 20px;
}

p {
  line-height: 25px;
  padding-left: 25px;
}

@media screen and (min-width: 320px) {
  .carte_chic_a_la_francaise {
    margin-left: 23%;
  }

  .carte_note_enchantee {
    margin-left: 23%;
  }

  .carte_le_delice_des_papilles {
    margin-left: 23%;
  }

  .carte_la_palette_du_gout {
    margin-left: 23%;
  }
}
@media screen and (min-width: 1024px) {
  .carte_chic_a_la_francaise {
    margin-left: 25%;
  }

  .carte_note_enchantee {
    margin-left: 25%;
  }

  .carte_le_delice_des_papilles {
    margin-left: 25%;
  }

  .carte_la_palette_du_gout {
    margin-left: 28%;
  }

  aside {
    width: 27%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .flexbox {
    padding-left: 10%;
  }

  .carte_chic_a_la_francaise {
    font-size: 15px;
    flex-wrap: wrap;
  }

  .carte_note_enchantee {
    font-size: 15px;
    flex-wrap: wrap;
  }

  .carte_le_delice_des_papilles {
    font-size: 15px;
    flex-wrap: wrap;
  }

  .carte_la_palette_du_gout {
    font-size: 15px;
    flex-wrap: wrap;
  }
}
.titre_aside {
  padding-top: 10px;
  padding-left: 50px;
  font-size: 25px;
}

/*# sourceMappingURL=style.css.map */
