$shake-intensity: 5%;
header {
  background-color: #579c87;
  height: 80px;
}
h1 {
  color: #fdcb46;
  text-align: center;
  padding-top: 2%;
}
footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  color: #fdcb46;
  font-size: 30px;
  position: fixed;
  width: 97%;
  bottom: 0;
 
  .mentions {
    &:hover {
      animation: headshake 500ms infinite;
      @keyframes headshake {
        25% {
          // entièrement à droite
          transform: translateX($shake-intensity);
        }
        75% {
          // entièrement à gauche
          transform: translateX($shake-intensity * -1);
        }
      }
    }
  }
  .contact {
    &:hover {
      animation: headshake 500ms infinite;
      @keyframes headshake {
        25% {
          // entièrement à droite
          transform: translateX($shake-intensity);
        }
        75% {
          // entièrement à gauche
          transform: translateX($shake-intensity * -1);
        }
      }
    }
  }
  a {
    text-decoration: none;
    color: #fdcb46;
  }
}
aside {
  background-color: #579c87;
  color: #fdcb46;
  text-align: Center;
  height: 30px;
  width: 25%;
  margin: auto;
  border-radius: 10px;

  padding-bottom: 15px;
  text-transform: uppercase;
  .pts-animation {
    font-size: 30px;
    padding-bottom: 10%;
  }
  &:hover {
    .pts-animation {
      animation: pts 2000ms backwards infinite;
    }
  }
}
article {
  display: flex;
  padding-left: 15%;
  a {
    text-decoration: none;
  }
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 50px #f1f1f1;
  height: 400px;
  width: 300px;
  margin-left: 100px;
  transform: scale(1);
  transition: transform 400ms;
  &:hover {
    transform: scale(1.15);
  }
  h3 {
    text-align: center;
    box-shadow: #fdcb46;
  }
  h2 {
    text-align: center;
  }
}
.bloc1 {
  background-color: #fcdfdb;
  .fas {
    padding-top: 30%;
    font-size: 40px;
    margin-top: 50px;
    padding-left: 42%;
    color: #8d6464;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: darken(#fcdfdb, 5);
  }
}
.bloc2 {
  background-color: #fff5fe;
  &:hover {
    background-color: darken(#fff5fe, 5);
  }
  a {
    background: -webkit-linear-gradient(45deg, #d8712e,#905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(45deg, #d8712e,#905BFD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  }

.bloc3 {
  background-color: #f9f9f9;
  color: lighten(#2140df, 5%);
  &:hover {
    background-color: darken(#f9f9f9, 5);
  }
  a {
    background: -webkit-linear-gradient(45deg, #2140df, #2B91F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(45deg, #2140df, #2B91F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  }
.bloc4 {
  background-color: #fdfffd;
  color: lighten(#42973c, 5%);
  &:hover {
    background-color: darken(#fdfffd, 5);
  }
  a {
    background: -webkit-linear-gradient(40deg, #42973c, #BFFF7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(40deg, #42973c, #BFFF7E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.contact {
  a {
    color: #fdcb46;
    text-decoration: none;
  }
}

@keyframes pts {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carte_note_enchantee {
  background-color: #fcdfdb;
  margin-left: 40%;
  .fas {
    padding-top: 10%;
    font-size: 40px;
    padding-left: 42%;
    color: #8d6464;
  }
  h4 {
    text-align: center;
  }
}
body{
    padding-bottom: 100px;
}