$shake-intensity:5%;
header{
    background-color: #579C87;
    height: 80px;
}
h1{
    color: #FDCB46;
    text-align: center;
    padding-top: 2%;
}
footer
{
  background-color: #579C87;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  width: auto;
  color: #FDCB46 ;
  font-size: 30px;
  .mentions{
      &:hover{
        animation: headshake 500ms infinite;
        @keyframes headshake {
            25% {
                // entièrement à droite
                transform: translateX($shake-intensity);
            }
            75% {
                // entièrement à gauche
                transform: translateX($shake-intensity * -1);
            }
        }
      }
      .contact{
        &:hover{
            animation: headshake 1000ms cubic-bezier(.4,.1,.6,.9) infinite;
            @keyframes headshake {
                25% {
                    // entièrement à droite
                    transform: translateX($shake-intensity);
                }
                75% {
                    // entièrement à gauche
                    transform: translateX($shake-intensity * -1);
                }
            }
          }
      }
  }
  a{
      text-decoration: none;
      color: #FDCB46;
  }
  
}
aside{
    background-color: #579C87;
    color: #FDCB46;
    text-align: Center;
    height: 30px;
    width: 25%;
    margin: auto;
    border-radius: 10px;;

    padding-bottom: 15px;
    text-transform: uppercase;
    .pts-animation{
        font-size: 30px;
        padding-bottom: 10%;
    }
    &:hover{
       .pts-animation{
        animation: pts 2000ms backwards infinite ;
      
        }
    }
}
article{
    display: flex;    
    padding-left: 15%;
    a{
        text-decoration: none;
        
    }
}

section
{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 50px #F1F1F1;;
    height: 400px;
    width: 300px;
    margin-left: 100px;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
    h3{
        padding-top: 50%;
        text-align: center;
        box-shadow: #FDCB46;
    }
    h2{
        text-align: center;
    }
}
.bloc1{
    background-color: #FCDFDB;
    a{
    text-decoration: none;
    color: black;
    }
    &:hover{
    background-color: darken(#FCDFDB, 5);
    }
   
}
.bloc2{
    background-color: #FFF5FE;
    color: lighten(#D8712E, 5%);
    &:hover{
        background-color: darken(#FFF5FE, 5);
        }
        a{
            color: #D8712E;
        }
}
.bloc3{
    background-color: #F9F9F9;
    color: lighten(#2140DF, 5%);
    &:hover{
        background-color: darken(#F9F9F9, 5);
        }
        a{
           color:#2140DF
        }
}
.bloc4{
    background-color: #FDFFFD;
    color: lighten(#42973C, 5%);
    &:hover{
        background-color: darken(#FDFFFD, 5);
        }
        a{
            color: #42973C;
        }
}
.contact{
    a{
        color: #FDCB46;
        text-decoration: none;
    }
}

@keyframes pts {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}