@mixin decoration($color, $taille) {
  h4 {
    text-align: center;
    padding-top: 10px;

    &::before,
    &::after {
      border: 2px solid $color;
      content: "";
      width: $taille;
      display: inline-block;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}
@keyframes wiggle {
  25% {
    // entièrement à droite
    transform: translateX(5%);
  }

  75% {
    // entièrement à gauche
    transform: translateX(5% * -1);
  }
}

header {
  background-color: #579c87;
  height: 80px;
}

h1 {
  color: #fdcb46;
  text-align: center;
  padding-top: 2%;
  margin-top: 0px;
}

footer {
  background-color: #579c87;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 80px;
  color: #fdcb46;
  font-size: 30px;
  position: fixed;
  width: 97%;
  bottom: 0;

  .mentions {
    padding-left: 0px;
    &:hover {
      animation: wiggle 500ms infinite;
    }
  }

  .contact {
    &:hover {
      animation: wiggle 500ms infinite;
    }
  }
}
  a {
    text-decoration: none;
    color: #fdcb46;
  }
aside {
  background-color: #579c87;
  color: #fdcb46;
  height: 30px;
  width: 35%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  display: flex;
  .pts-animation {
    display: flex;
    justify-content: right;
    padding-top: 15px;
    padding-left: 10px;
    &-1 {
      background-color: #fdcb46;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      animation: points 1s backwards infinite;
      animation-delay: 0s;
      animation-direction: alternate;
    }
    &-2 {
      background-color: #fdcb46;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      animation: points 1s backwards infinite;
      animation-delay: 0.1s;
      animation-direction: alternate;
    }
    &-3 {
      background-color: #fdcb46;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      animation: points 1s backwards infinite;
      animation-delay: 0.2s;
      animation-direction: alternate;
    }
  }
}
.flexbox {
  padding-left: 17%;
  display: flex;
  a {
    text-decoration: none;
  }
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 3px 3px 50px #f1f1f1;
  height: 400px;
  width: 300px;
  margin-left: 100px;
  transform: scale(1);
  transition: transform 400ms;

  &:hover {
    transform: scale(1.15);
  }
  h3 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
.bloc1 {
  background-color: #fcdfdb;
  font-family: "Arial Narrow";
  .fas {
    padding-top: 30%;
    font-size: 40px;
    margin-top: 50px;
    padding-left: 42%;
    color: #8d6464;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: darken(#fcdfdb, 5);
  }
}
.bloc2 {
  background-color: #fff5fe;
  &:hover {
    background-color: darken(#fff5fe, 5);
  }
  a {
    background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.bloc3 {
  background-color: #f9f9f9;

  &:hover {
    background-color: darken(#f9f9f9, 5);
  }

  a {
    background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.bloc4 {
  background-color: #fdfffd;
  &:hover {
    background-color: darken(#fdfffd, 5);
  }
  a {
    background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 50%;
    background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.contact {
  a {
    color: #fdcb46;
    text-decoration: none;
  }
}
@keyframes points {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.carte_chic_a_la_francaise {
  background-color: white;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  h4 {
    text-align: center;
  }
  &:hover {
    transform: scale(1);
  }
}

body {
  padding-bottom: 100px;
  margin: 0px;
}
.fas {
  background: -webkit-linear-gradient(30deg, #f05561, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.entree {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(black, 12rem);
  }
}

.titre_entrée {
  color: #c67412;
}

.entree2 {
  padding-left: 20px;
  color: #c67412;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#c67412, 8.3rem);
  }
}

.plat {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(black, 10.7rem);
  }
}

.titre_plat {
  color: #a56799;
}

.plat2 {
  padding-left: 20px;
  color: #a56799;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#a56799, 9.8rem);
  }
}

.titre_dessert {
  color: #6e4ccc;
}

.dessert2 {
  padding-left: 20px;
  color: #6e4ccc;
  &:hover {
    @include decoration(#6e4ccc, 9rem);
  }
}

.dessert {
  padding-left: 20px;
  &:hover {
    @include decoration(black, 9.9rem);
  }
}

.fin_de_carte {
  text-align: left;
  padding-right: 25%;
}

.titre_carte {
  background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.carte_note_enchantee {
  background-color: #fcdfdb;
  margin-left: 25%;
  width: 650px;
  height: 900px;
  font-family: "Arial Narrow";
  h4 {
    text-align: center;
  }
  .fas {
    padding-top: 5%;
    font-size: 40px;
    padding-left: 45%;
    color: #8d6464;
  }
  &:hover {
    transform: scale(1);
  }
}

.carte_le_delice_des_papilles {
  background-color: #edefef;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  &:hover {
    transform: scale(1);
  }
  h4 {
    text-align: center;
    padding-top: 10px;
  }
}

.titre_carte2 {
  background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-top: 60px;
}

.dessert3 {
  padding-left: 20px;
  &:hover {
    @include decoration(#229df9, 10.1rem);
  }
}

.carte_la_palette_du_gout {
  background-color: #fdfffd;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  h4 {
    text-align: center;
  }
  &:hover {
    transform: scale(1);
  }
}

.titre_carte3 {
  background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.entree3 {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#0228dd, 9.5rem);
  }
}

.plat3 {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#0670f3, 10rem);
  }
}

.entree4 {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#45993e, 12rem);
  }
}
.plat4 {
  padding-left: 20px;
  padding-bottom: 10px;
  &:hover {
    @include decoration(#45993e, 10rem);
  }
}
.dessert4 {
  padding-left: 20px;
  &:hover {
    @include decoration(#45993e, 9.6rem);
  }
}
.price {
  font-weight: bold;
  float: right;
  padding-right: 30px;
  padding-left: 20px;
}
p {
  line-height: 25px;
  padding-left: 25px;
  clear: both;
  text-align: left;
}
@media screen and (min-width: 320px) {
  .carte_chic_a_la_francaise {
    margin-left: 18%;
  }
  .carte_note_enchantee {
    margin-left: 18%;
  }
  .carte_le_delice_des_papilles {
    margin-left: 18%;
  }
  .carte_la_palette_du_gout {
    margin-left: 18%;
  }
}
@media screen and (min-width:320px) and (max-width:768px){
  .carte_chic_a_la_francaise{
    width: 700px;
    font-size: 20px;
  }
  .carte_note_enchantee{
    width: 700px;
    font-size: 20px;
  }
  .carte_le_delice_des_papilles{
    width: 700px;
    font-size: 20px;
  }
  .carte_la_palette_du_gout{
    width: 700px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  aside {
    width: 33%;
  }
}
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .price {
    padding-left: 0px;
    padding-right: 10px;
  }
  .flexbox {
    padding-left: 8%;
  }
  .carte_chic_a_la_francaise {
    font-size: 15px;
    flex-wrap: wrap;
  }
  .carte_note_enchantee {
    font-size: 15px;
    flex-wrap: wrap;
  }
  .carte_le_delice_des_papilles {
    font-size: 15px;
    flex-wrap: wrap;
  }
  .carte_la_palette_du_gout {
    font-size: 15px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1440px) and (max-width:2560px){
  .flexbox {
    padding-left: 22%;
    padding-top: 3%;
  }
  header {
    height: 100px;
  }
  .carte_chic_a_la_francaise {
    margin-left: 30%;
  }
  .carte_note_enchantee {
    margin-left: 30%;
  }
  .carte_le_delice_des_papilles {
    margin-left: 30%;
  }
  .carte_la_palette_du_gout {
    margin-left: 30%;
  }
}
.titre_aside {
  padding-top: 10px;
  padding-left: 50px;
  font-size: 25px;
}
@media screen and (min-width: 2560px) {
  .flexbox {
    padding-left: 33%;
  }
  aside{
    width: 14%;
  }
  footer{
    width: 98.5%;
  }
  .carte_chic_a_la_francaise{
    margin-left: 38%;
  }
  .carte_note_enchantee{
    margin-left: 38%;
  }
  .carte_le_delice_des_papilles{
    margin-left: 38%;
  }
  .carte_la_palette_du_gout{
    margin-left: 38%;
  }
}
@media screen and (min-width:1025px) and (max-width:1440px){
  aside{
    width: 25%;
  }
}
