@mixin decoration($color, $taille) {
  h4 {
    text-align: center;
    &::before,
    &::after {
      border: 2px solid $color;
      content: "";
      width: $taille;
      display: inline-block;
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}
@mixin soulignement($color) {
    position: relative;
    &:hover{
      &::before{
      visibility: visible;
      width: 100%;
      }
    }
    &:before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $color;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }
  }

