@media screen and (min-width:320px) and (max-width:768px) {
  p{
    padding-left: 5px;
    line-height: 25px;
  }
  .price{
    padding-right: 8px;
    padding-left: 0;
  }
  .carte-chic-a-la-francaise{
    width: 100%;
    font-size: 0.7rem;
    margin-left: 0%;
  }
  .entree2, .plat2{
    padding-left: 0px;
  }
  }
  @media screen and (min-width:768px) and (max-width:1024px){
    p{
      padding-left: 25px;
      line-height: 25px;
    }
    .price{
      padding-right: 25px;
    }
    .carte-chic-a-la-francaise{
      width: 100%;
      font-size: 1rem;
      margin-left: 0%;

    }
    .entree2, .plat2{
      padding-left: 25px;
    }
  }

  @media screen and (min-width:1024px) and (max-width:1440px){
    p{
      line-height: 25px;
    }
    .carte-chic-a-la-francaise{
      width: 100%;
      font-size: 1.5rem;
    }
  }
  @media screen and (min-width:1440px) and (max-width:1920px){
    p{
      line-height: 30px;
    }
    .carte-chic-a-la-francaise{
      width: 100%;
      font-size: 2rem;
      margin-left: 0%;
      padding-bottom: 54%;
    }
    .entree2, .plat2{
      padding-left: 0px;
    }
  }
  @media screen and(min-width:1025px) and (max-width:1439px){
    p{
      line-height: 25px;
    }
    .carte-chic-a-la-francaise{
      width: 100%;
      font-size: 1.5rem;
      margin-left: 0%;
    }
  }