@media screen and (min-width:320px) and (max-width:767px) {
  section{
    width: 40%;
    height: 30vh;
    transform: scale(1);
    transition: transform 400ms;
    padding: 0%;
    margin: 5%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .bloc1{
    .fas{
      padding-top: 0%;
      margin-top:0%;
      padding-left: 0%;
      font-size: 1.5rem;
    }
  }
  .entree, .plat, .dessert{
    padding-left: 0%;
  }
  p{
    padding-left: 5px;
    line-height: 25px;
    font-size: 0.65rem;
  }
  .price{
    padding-right: 0px;
    padding-left: 20px;
  }
  .carte-note-enchantee{
    width: 95%;
    font-size: 0.7rem;
    margin-left: 3%;
    height: auto;
    p{
      font-size: 0.6rem;
    }
    .fas{
      padding-left: 0%;
    }
  }
  .carte-la-palette-du-gout, .carte-chic-a-la-francaise{
    width: 95%;
    margin-left: 0%;
    height: 520px;
  }
  .carte-le-delice-des-papilles,{
    width: 95%;
    font-size: 0.7rem;
    margin-left: 3%;
    height: 600px;
  }
  .entree2, .plat2, .entree3, .plat3, .entree4, .plat4, .dessert4{
    padding-left: 0px;
  }
  .entree3{
    .price{
      padding-left: 10px;
    }
  }
  .dessert4{
    .price{
      padding-left: 4px;
    }
  }
  aside{
    width: 86%;
    .pts-animation{
      padding-top: 4%;
    }
  }
  .flexbox{
    padding-left: 5%;
  }
  .fin-de-carte{
    padding-right: 0%;
  }
  footer{
    a{
      font-size: 2rem;
    }
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    margin-top: 10%;
  }
  }
@media screen and (min-width:320px) and(max-width:375px){
.carte-chic-a-la-francaise{
  p{
    padding-left: 0%;
  }
}
}
@media screen and (min-width:375px) and (max-width:425px){
  .carte-note-enchantee{
    p{
      font-size: 0.8rem;
    }
}
}
@media screen and (min-width:425px) and (max-width:768px){
  .carte-note-enchantee{
    p{
      font-size: 1.3em;
    }
}
}
  @media screen and (min-width:768px) and (max-width:1024px){
    p{
      padding-left: 25px;
      line-height: 25px;
    }
    .price{
      padding-right: 25px;
    }
    .carte-note-enchantee{
      width: 90%;
      font-size: 1rem;
      margin-left: 5%;
      p{
        font-size: 1.4em;
      }
    }
    .fin-de-carte {
      padding-right: 22%;
  }
    .carte-chic-a-la-francaise, .carte-la-palette-du-gout{
      width: 90%;
      font-size: 1rem;
      margin-left: 5%;
      height: 580px;
    }
    .carte-le-delice-des-papilles{
      width: 90%;
      font-size: 1rem;
      margin-left: 5%;
      height: 620px;
    }
    .entree2, .plat2{
      padding-left: 25px;
    }
    .flexbox{
      padding-left: 0%;
    }
    aside{
      width: 40%;
    }
    section{
      h3{
      font-size: 2rem;
    }
  }
}

  @media screen and (min-width:1024px) and (max-width:1440px){
    p{
      line-height: 25px;
    }
    .carte-note-enchantee{
      width: 90%;
      font-size: 1.5rem;
      margin-left: 5%;
      p{
        font-size: 1.8rem;
      }
    }
    .carte-chic-a-la-francaise, .carte-la-palette-du-gout{
      width: 90%;
      font-size: 1.5rem;
      margin-left: 5%;
      height: 630px;
    }
    .carte-le-delice-des-papilles{
      width: 90%;
      font-size: 1.5rem;
      margin-left: 5%;
      height: 720px;
    }
    aside{
      width: 28%;
    }
  }
  @media screen and (min-width:1025px) and (max-width:1439px){
    .flexbox{
      padding-left: 0%;
    }
  }
  @media screen and (min-width:1440px) and (max-width:1920px){
    p{
      line-height: 30px;
    }
    .center{
      display: flex;
      justify-content: center;
    }
    .carte-note-enchantee{
      width: 80%;
      font-size: 2rem;
      margin-left: 0%;
      padding-bottom: 67%;
      height: 1080px;
      p{
        font-size: 2.3rem;
      }
    }
    .carte-chic-a-la-francaise, .carte-la-palette-du-gout, .carte-le-delice-des-papilles{
      width: 80%;
      font-size: 2rem;
      margin-left: 0%;
      padding-bottom: 67%;
      height: 960px;
    }
    .entree2, .plat2{
      padding-left: 0px;
    }
    .flexbox{
      padding-left: 0%;
    }
    aside{
      width: 20%;
    }
    section{
      h3{
      font-size: 2rem;
    }
  }
  .fas{
    font-size: 2.5rem;
  }
  }
  @media screen and(min-width:1025px) and (max-width:1439px){
    p{
      line-height: 25px;
    }
    .carte-chic-a-la-francaise, .carte-la-palette-du-gout, .carte-le-delice-des-papilles, .carte-note-enchantee{
      width: 100%;
      font-size: 1.5rem;
      margin-left: 0%;
    }
  }