$menu1-color: #c67412;
$menu2-color: #a56799;
$menu3-color: #6e4ccc;

@font-face {
  font-family: "DancingScript";
  src: url("DancingScript.otf");
}
img {
  width: 30%;
}
.carte-chic-a-la-francaise {
  background-color: white;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  font-family: "Farsan";
  h4 {
    text-align: center;
  }
}
.fas {
  background: -webkit-linear-gradient(30deg, #f05561, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.entree {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(black);
  }
}
.plat {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(black);
  }
}
.dessert {
  padding-left: 20px;
  .underline-title {
    @include soulignement(black);
  }
}

.titre-entrée {
  color: $menu1-color;
}

.entree2 {
  padding-left: 20px;
  color: $menu1-color;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#c67412);
  }
}
.plat2 {
  padding-left: 20px;
  color: $menu2-color;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#a56799);
  }
}
.dessert2 {
  padding-left: 20px;
  color: $menu3-color;
  .underline-title {
    @include soulignement(#6e4ccc);
  }
}
.titre-plat {
  color: $menu2-color;
}
.titre-dessert {
  color: $menu3-color;
}
.fin-de-carte {
  text-align: left;
  padding-right: 25%;
}

.titre-carte {
  background: -webkit-linear-gradient(45deg, #d8712e, #905bfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}
.carte-note-enchantee {
  background-color: #fcdfdb;
  margin-left: 25%;
  width: 650px;
  height: 900px;
  font-family: "Dancing Script";
  h4 {
    text-align: center;
  }
  .fas {
    padding-top: 5%;
    font-size: 40px;
    padding-left: 48%;
    color: #8d6464;
  }
}

.carte-le-delice-des-papilles {
  background-color: #edefef;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  font-family: "Oswald";
  &:hover {
    transform: scale(1);
  }
  h4 {
    text-align: center;
    padding-top: 10px;
  }
}

.titre-carte2 {
  background: -webkit-linear-gradient(360deg, #2140df, #2b91f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  padding-top: 60px;
}

.carte-la-palette-du-gout {
  background-color: #fdfffd;
  margin-left: 30%;
  width: 650px;
  height: 700px;
  font-family: "Playfair Display";
  h4 {
    text-align: center;
  }
}

.titre-carte3 {
  background: -webkit-linear-gradient(40deg, #42973c, #bfff7e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.entree3 {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#0228dd);
  }
}
.plat3 {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#0670f3);
  }
}
.dessert3 {
  padding-left: 20px;
  .underline-title {
    @include soulignement(#229df9);
  }
}
.entree4 {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#45993e);
  }
}
.plat4 {
  padding-left: 20px;
  padding-bottom: 10px;
  .underline-title {
    @include soulignement(#45993e);
  }
}
.dessert4 {
  padding-left: 20px;
  .underline-title {
    @include soulignement(#45993e);
  }
}
.price {
  font-weight: bold;
  float: right;
  padding-right: 30px;
  padding-left: 20px;
}
p {
  line-height: 25px;
  padding-left: 25px;
  clear: both;
  text-align: left;
}
footer {
  height: 10%;
  font-size: 16px;
  p {
    line-height: 1;
  }
}
