@media screen and (min-width: 320px) and (max-width: 768px) {
    .carte-chic-a-la-francaise {
      width: 700px;
      font-size: 20px;
      margin-left: 18%;
    }
    .carte-note-enchantee {
      width: 700px;
      font-size: 20px;
      margin-left: 18%;
    }
    .carte-le-delice-des-papilles {
      width: 700px;
      font-size: 20px;
      margin-left: 18%;
    }
    .carte-la-palette-du-gout {
      width: 700px;
      font-size: 20px;
      margin-left: 18%;
  
    }
  }
  @media screen and (min-width: 1024px) {
    aside {
      box-sizing: content-box;
      width: max-content;
      padding-right: 3%;
    }
  }
  @media screen and (min-width: 1440px) and (max-width: 2560px) {
    .flexbox {
      padding-left: 22%;
      padding-top: 3%;
    }
    header {
      height: 100px;
    }
    .carte-chic-a-la-francaise {
      margin-left: 28%;
    }
    .carte-note-enchantee {
      margin-left: 30%;
    }
    .carte-le-delice-des-papilles {
      margin-left: 28%;
    }
    .carte-la-palette-du-gout {
      margin-left: 28%;
    }
  }
  .titre-aside {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 25px;
  }
  @media screen and (min-width: 2560px) {
    .flexbox {
      padding-left: 33%;
    }
    aside {
      width: 14%;
    }
    .carte-chic-a-la-francaise {
      margin-left: 38%;
    }
    .carte-note-enchantee {
      margin-left: 38%;
    }
    .carte-le-delice-des-papilles {
      margin-left: 38%;
    }
    .carte-la-palette-du-gout {
      margin-left: 38%;
    }
  }
  @media screen and (min-width: 1400px) and (max-width: 1920px) {
    aside {
      box-sizing: content-box;
      width: max-content;
      padding-right: 3%;
    }
    .flexbox{
      padding-left: 28%;
    }
  }
  @media screen and (min-width:1100px) and (max-width:1400px){
    .flexbox{
      padding-left: 20%;
    }
  }